<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h2><a href="/">Our Wonderful App</a></h2>
      <nav><a href="/login">Login</a></nav>
    </header>
    <main>
      <h3>Log in page</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        soluta, voluptatibus debitis laborum voluptates porro enim blanditiis
        quia voluptas quisquam dolorem iusto corrupti, voluptatum itaque
        nesciunt, consequuntur quam labore deserunt.
      </p>
    </main>
    <footer><small>&copy; our wonderful app</small></footer>
  </body>
</html>
